header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo {
    background-image: url('/images/logo.png');
    height: 40px;
    width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
